@media screen and (max-width:414px){  
  *{
    margin: 0px;
    padding: 0px;
  } 
  body{
   overflow: hidden;
  } 
  .sectionnovabar{
    margin-left: 30px;
    margin-top: 14px;
    padding-bottom: 54px;
  }
  .titulo{
    text-align: center;
    left: 434px;
  }
  .navbar{
    width: 418px;
    padding-top: 0px;
    padding-bottom: 63px;
  
    padding-top: 0px;
    padding-bottom: 52px;

  }
  nav > .links{
    position: absolute;
    padding-left: 0px;
    font-size: 1em;
    
    bottom: 738px;
    padding-left: 0px;

  
  }
  a {
    text-decoration: none;
    color: var(--cor3);
    padding: 5px;
    padding-top: 1px;
    padding-left: 314px;
  }
  
  a:hover {
    color: #ffaa55;
}
  
 .navbar > .logodaacademia{  
    width: 50px;
    height: 50px;
    padding-bottom: 0px;
    margin-bottom: 22px;
  }
  main{
    height: 2873px;
  }
  .content{
    flex-direction: column;
  }
  main > .content1{
    text-align: center;
    margin-top: 215px;
    width: 300px;
    height: 300px;
    margin-left: 71px;
  }
  main > .primeirotitulo{
  position: absolute;
  font-size: 1.2em;  
  height: 28px;
  width: 373px;
  top: 309px;
  left: 31px;



  }
  main > .primeirotexto{
    position: absolute ;
    font-size: 0.7em;
    border-radius: solid right var(--cor6);
    border: var(--cor6);
    
    width: 401px;
    bottom: 0px;
    top: 653px;

   
    left: 0px;
    margin-left: 0px;
    top: 686px;
    padding-bottom: 195px;
    padding-left: 7px;


  }
  main > .content2{
    text-align: center;
    margin-top: 215px;
    width: 300px;
    height: 300px;
    margin-left: 71px;
    
    left: 0px;
    top: 902px;
  }
  .segundotitulo{
    font-size: 1.2em;  
    height: 28px;
    left: 33px;
    width: 373px;
    top: 309px;
  }
  .segundotexto{

  }
  main > .content3{
    text-align: center;
    margin-top: 215px;
    width: 300px;
    height: 300px;
    margin-left: 71px;
  }  
  main > .Planos {
    width: 409px;
  }
  .box1{
    position: absolute;
    left: 109px;
  }
  .localização{
    
    width: 374px;
    padding-left: 14px;

  }
  footer > p {
    text-align: center;
    width: 420px;
  }
 }